body {
    background-color: lightskyblue;
}

.approach {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Copperplate, Papyrus, fantasy;
}

.pillars {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.grid-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}