.Head01 {

  margin-top: -450px;
  margin-left: 140px;
  margin-right: 600px;

  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.Img01 {
  pointer-events: none;
}

.Para01 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: arial;
  font-size: 20px;

  margin-top: 55px;
  margin-left: 140px;
  margin-right: 600px;
  margin-bottom: 0px;

  padding-right: 10px;

  border-left: solid 5px green;
  background-color: #2d60b7;
}