.why {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: 150px;
    margin-left: 100px;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: darkorange;
}
.flex-container {
   display: flex;
   justify-content: space-around;
   align-content: space-between;

}

.percent {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
}

.data {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 14px;
}

.info1 {
    border-style: solid;
    border-radius: 25px;
    border-color: darkorange;
    margin: 20px;
    flex: 1 1 0;
    margin-left: 100px;
    margin-right: -1px;
}

.info2 {
    border-style: solid;
    border-radius: 25px;
    border-color: darkorange;
    margin: 20px;
    flex: 1 1 0;
    margin-right: -1px;

}

.info3 {
    border-style: solid;
    border-radius: 25px;
    border-color: darkorange;
    margin: 20px;
    flex: 1 1 0;
    margin-right: -1px;

}


.info4 {
    border-style: solid;
    border-radius: 25px;
    border-color: darkorange;
    margin: 20px;
    flex: 1 1 0;
    margin-right: 100px;
}


