.flex-container {
   display: flex;
   flex-direction: row;
   flex-wrap: column;
   align-items: center;
   justify-content: space-around;
   align-content: space-between;
}

.percent {
    color: white;
    text-align: center;
    font-size: 40px;
}

.data {
    color: white;
    text-align: center;
    font-size: 14px;
}

.info {
    border-style: solid;
    border-radius: 25px;
    border-color: orange;
}