
.Head01 {

  margin-top: -450px;
  margin-left: 140px;
  margin-right: 600px;

  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;

  text-decoration: underline;
  text-decoration-color: rgb(231, 131, 0);
  text-decoration-thickness: 5px;
}

.Img01 {
  pointer-events: none;
}

.Para01 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: arial;
  font-size: 20px;

  margin-top: 55px;
  margin-left: 140px;
  margin-right: 600px;
  margin-bottom: 0px;

  padding-right: 10px;
  background-color: #2d60b7;
}

/*

this is josh's work merged with this file 

*/

.why {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-top: 350px;
  margin-left: 140px;
}

.flex-container {
 display: flex;
 justify-content: space-around;
 align-content: space-between;

}

.percent {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
}

.data {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 14px;
}

.info1 {
  border-style: solid;
  border-radius: 25px;
  border-color: darkorange;
  margin: 20px;
  flex: 1 1 0;
}

.info2 {
  border-style: solid;
  border-radius: 25px;
  border-color: darkorange;
  margin: 20px;
  flex: 1 1 0;

}

.info3 {
  border-style: solid;
  border-radius: 25px;
  border-color: darkorange;
  margin: 20px;
  flex: 1 1 0;

}


.info4 {
  border-style: solid;
  border-radius: 25px;
  border-color: darkorange;
  margin: 20px;
  flex: 1 1 0;
}